<!DOCTYPE html>
<html lang="es-ES">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ictiva">
    <meta name="robots" content="index, follow" />
    <meta name="language" content="es-ES" />

    <title>Practicar Yoga desde casa con estos ejercicios es muy fácil | ictiva</title>

    <!-- Google Optimize -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NGZ6FLX':true});</script>
    <!-- End Google Optimze -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRF3HL');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1726290627612934');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1726290627612934&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <meta name="verification" content="81bd71e1f26eb0b3898a5e427df1b4df" />
    <meta name="description" content="El Yoga es una tendencia actual por todos los beneficios que aporta a quienes lo practican. Puedes hacer los ejercicios en casa con esta guía completa de asanas básicas." />
    <meta name="keywords" content="Ejercicios de yoga, Yoga ejercicios, Hacer yoga en casa, Yoga en casa, Yoga online, Ejercicios de yoga para principiantes, Cómo hacer yoga en casa, Ejercicios de yoga en casa, Ejercicios de yoga online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Practicar Yoga desde casa con estos ejercicios es muy fácil" />
    <meta property="og:description" content="El Yoga es una tendencia actual por todos los beneficios que aporta a quienes lo practican. Puedes hacer los ejercicios en casa con esta guía completa de asanas básicas." />
    <meta property="og:url" content="https://www.ictiva.com/ejercicios-yoga" />
    <meta property="og:site_name" content="ictiva, tu gimnasio online" />
    <meta property="og:image" content="https://www.ictiva.com/img/logo_ictiva.svg" />

    <link rel=”canonical” href=”https://www.ictiva.com/ejercicios-yoga” />

    <!--Icon, favicon & webapp -->
    <link rel="shortcut icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/homes/img/favicon.ico" type="image/ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/homes/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/homes/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/homes/css/magnific-popup.min.css" rel="stylesheet">

    <link href="/homes/css/custom.min.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <!-- Temporary navbar container fix -->
    <style>
    .btn > a:hover{
        text-decoration: none!important;
    }
    .navbar-toggler {
        z-index: 1;
    }
    .border-bt-primary-1{
        border-bottom: 24px solid #e57532;
    }
    header.bg-landing{        
        background-image: url(/homes/img/img-landing/yoga_portada-movil.jpg);
        background-position: top center;
        background-size: cover;
        min-height: 90vh;
    }
    header.bg-landing:before{
        min-height: 90vh;
    }
    header.bg-landing>div{
        width: 80%;
        margin-left: 10%;
    }
    .video-section{
        margin-top: -10rem;
    }
    .line-height-2{
        line-height: 2.6rem;
        font-size: 1.2rem;
    }
    .pl-6{
        padding-left: 4.5rem;
    }    
    .pr-6{
        padding-right: 4.5rem;
    }
    .bg-primary-light {
      background: rgba(247,170,69,1) !important;
    }
    .bg-grey-2{
        background-color: #dfdfdb;
    }
    li.ls{
        list-style-type: none;
    }
    .widget-home{
        width: 345px;
    }
    .banner-primary{
        background-color: #e57532;
    }
    .banner-primary a:hover{
        color: #ffffff!important;
    }
    a.text-primary:hover{
        color: #e57532!important;
    }
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    @media (max-width: 767px){
        /*header.bg-landing{        
            background-image: url(/homes/img/img-landing/yoga_portada-movil.jpg);
            background-position: top center;
            background-size: cover;
            min-height: 90vh;
        }
        header.bg-landing:before{
            min-height: 90vh;
        }*/
    }
    @media (min-width: 1281px) {
        .text-medium{
            font-size: 1.25rem;
        }
    }
    @media (min-width: 1680px){
        .container {
            width: 1620px;
            max-width: 100%;
        }
        .extra-lg h1.display-4{
            font-size: 4rem;
            padding-bottom: 2.2rem!important;
        }
        .extra-lg p, .extra-lg a{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        .extra-lg h2{
            font-size: 2rem;
        }
        /*.extra-lg a.btn-scroll{
            font-size: 1.1rem;
        }*/
        .extra-lg li{
            font-size: 1.6rem;
        }
        .widget-home{
            width: 475px;
            margin-right: 3rem;
        }
        .widget-home p.px-4,.widget-home ul.pl-4{
            padding-left: 2.5rem!important;
        }
        .widget-home p.py-3{
            padding-top: 1.5rem!important;
            padding-bottom:  1.5rem!important;
        }
        .line-height-2{
            line-height: 4rem;
        }
        .btn-scroll .pt-2{
            padding-top: 6rem!important;
        }
        .btn-scroll a{
            font-size: 1.3rem;
        }
    }
    </style>

</head>

<body id="page-top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRF3HL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="cookies home d-none" id="cookie-message">
    <div id="cookie-close" class="close-message"><a href="javascript:;"></a></div>
    <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Puedes modificar esta opción en tu navegador, por tanto si continuas navegando sin modificarlo, consideramos que aceptas su uso. <a href="/politica-de-privacidad-y-cookies/" target="_blank">¿Quieres ver nuestra política de cookies?</a></p>
</div>

    <div id="menu-wrap" class="container-fluid bg-white fixed-top">
        <div class="row my-2">
            <nav class="navbar navbar-toggleable-md navbar-light col-8 bg-white">
                <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-bg-icon"></span>
                </button>
                <div class="container pl-lg-0">
                    <a class="navbar-brand ml-5 ml-lg-3" href="#page-top">
                        <img src="https://www.ictiva.com/img/logo_ictiva.svg" width="auto" height="auto" alt="ictiva-logo" class="img-fluid">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarExample">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link px-2 text-uppercase mt-3 mt-sm-0" href="/">Gimnasio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/salud">Salud</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/entrenador">Entrenador Virtual</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/nutricion">Nutrición</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link text-blue" href="http://www.ictivashop.com/">Shop</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase hidden-lg-up">
                                <a class="nav-link text-primary" href="https://www.ictiva.com/tarifas/?home=gad"><strong>30% DTO</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-4 no-padding bg-white">
                <ul class="row justify-content-end mt-3 mt-sm-1 mb-0 mr-1 mr-md-2 p-0 h-100 align-items-start menu-mob">
                    <li class="bg-grey-2 py-0 px-1 px-sm-4 py-sm-2 p-xl-2">
                        <a class="text-dark btn" href="https://www.ictiva.com/tarifas/?home=gad"><strong>30% DTO</strong></a>
                    </li>
                    <li class="bg-primary p-0 py-sm-2 p-xl-2 hidden-md-down">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/usuarios/alta/?home=salud">INICIA TU ENTRENAMIENTO</a>
                    </li>
                    <!-- <li class="bg-darkgrey p-0 py-sm-2 p-xl-2">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/usuarios/login/">Acceso Usuarios</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>


    <header class="bg-landing pt-4 mt-5 align-items-center section-header-video">
        <div class="container bg-video d-block d-sm-flex justify-content-center mt-5">
            <div class="row mb-0 mt-5 px-4">
                <div class="col-12 col-lg-7 extra-lg py-3">
                    <h1 class="text-white text-uppercase display-4 pb-lg-3">Yoga en casa</h1>
                    <p class="text-white h5 pb-lg-4">Aprende a realizar ejercicios de yoga en casa correctamente.</p>
                    <h2 class="text-primary text-uppercase text-bigger pb-lg-4">Fuera estrés con ictiva</h2>
                    <p class="text-white text-medium mb-5">Quieres hacer Yoga en casa? Con ictiva disfrutarás de la disciplina milenaria que armoniza el cuerpo y la mente.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a data-scroll href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
                <div class="col-12 col-md-5 py-3 extra-lg d-none d-md-block hidden-md-down">
                    <div class="widget-home float-right">
                        <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios del Yoga:</p>
                        <ul class="bg-lightgrey m-auto py-3 pl-4">
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Logra una buena condición física.</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Pierde peso y estiliza tu figura.</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Elimina la tensión del día a día. </li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Aumenta tu energía y positividad.</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Tonifica tu cuerpo y gana fuerza.</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora tu postura y flexibilidad.</li>
                            <li class="line-height-2 ls mb-4"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Conquista la calma emocional.</li>
                        </ul>                
                    </div>
                </div>
                <div class="col-12 btn-scroll pt-2 text-center d-none d-sm-block">
                    <p class="py-4 btn"><a data-scroll href="#pagetwo" class="text-uppercase text-white text-center m-0 py-4">Descubre la sala<br><i class="fas fa-chevron-down text-white mt-2"></a></i></p>
                </div>
            </div>
        </div>
        <!-- <video autoplay loop muted class="w-100 hidden-sm-down" poster="/img/slide-home/video-main-placeholder.png">
            <source src="https://www.ictiva.com/homes/video/yoga_video.mp4" type="video/mp4">
            <source src="https://www.ictiva.com/homes/video/yoga_video.webm" type="video/webm">
            <embed src="https://www.ictiva.com/homes/video/yoga_video.mp4" type="application/x-shockwave-flash" width="100%" height="570" allowscriptaccess="always" allowfullscreen="true" autoplay="true" showcontrols="0">
        </video> -->
    </header>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 py-3 px-3 extra-lg d-md-none hidden-sm-up">
                <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios del Yoga:</p>
                <ul class="bg-lightgrey m-auto py-3 pl-4">
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Logra una buena condición física.</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Pierde peso y estiliza tu figura.</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Elimina la tensión del día a día. </li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Aumenta tu energía y positividad.</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Tonifica tu cuerpo y gana fuerza.</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora tu postura y flexibilidad.</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Conquista la calma emocional.</li>
                </ul>
                <!-- <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/tarifas/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p> -->
            </div>
        </div>
    </section>
    <section class="no-padding bg-faded">
        <div class="container py-0">
            <div class="row px-5 py-4">
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/localizacion_icon.png" class="sr-icons mb-3" alt="Donde quieras" height="80px" width="auto">
                        <h4 class="h4">DONDE QUIERAS</h3>
                        <!-- <p class="text-muted">Acceso ilimitado donde quieras y a la hora que quieras.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/reloj_icon.png" class="sr-icons mb-3" alt="Cuando quieras" height="80px" width="auto">
                        <h4 class="h4">CUANDO QUIERAS</h3>
                        <!-- <p class="text-muted">Clases dirigidas con ejercicios de 21 disciplinas diferentes.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/play_icon.png" class="sr-icons mb-3" alt="Las veces que quieras" height="80px" width="auto">
                        <h4 class="h4">LAS VECES QUE QUIERAS</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/infinito_icon.png" class="sr-icons mb-3" alt="acceso ilimitado" height="80px" width="auto">
                        <h4 class="h4">ACCESO ILIMITADO</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pagetwo" class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">
                    <iframe src="https://player.vimeo.com/video/266283862?color=fcbe17&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">VÍDEOS DE YOGA PARA HOMBRES Y MUJERES</h2>
                    <ul class="pr-3 pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>En ictiva encontrarás una sala especializada en este valiosa disciplina, la cual alberga <a href="https://www.ictiva.com/ejercicios-en-casa/videos-yoga/" target="_blank" class="text-primary">vídeos de yoga</a>, que te harán aprender desde cero el desarrollo de la práctica de este método.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Gracias al tratamiento de los vídeos, que están realizados en modo de sesión presencial, podrás hacer Yoga en casa o en el lugar que tu escojas. Como si se tratara de una clase personalizada, la profesora será tu guía durante todo el proceso; única y exclusivamente para ti. Paso a paso, te enseñará a realizar los ejercicios de Yoga, compuestos por una amplia variedad de asanas.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Las sesiones constan de una duración de entre 20 y 45 minutos, lo que te permite hacer un entrenamiento adaptado al tiempo del que dispongas. Serás tú quien marque el límite, pudiendo entrelazar una clase tras otra de o, disfrutar de una sesión más concisa.</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/yoga-7.jpg" class="img-fluid" alt="Clases de Yoga"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary"><a href="https://www.ictiva.com/clases-yoga/" target="_blank" class="text-primary">CLASES DE YOGA</a> ONLINE</h2>
                    <ul class="pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>En ictiva podrás iniciarte  paso a paso, desde la base de la disciplina con los asanas para principiantes. Hacer nuestras clases de yoga te resultará sencillo, recibiendo las instrucciones al detalle para realizar las posturas, aunque desconozcas por completo esta disciplina milenaria.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Con las clases de ictiva, selecciona el nivel desde el cual partir y la profesora te guiará, a través de sus explicaciones, para realizar correctamente las diferentes asanas. Gracias a la calidad de la filmación, te será muy sencillo seguir sus movimientos. Si es la primera vez que practicas esta disciplina comprobarás que todo está filmado para que no pierdas detalle y consigas realizar con éxito los ejercicios de Yoga para principiantes.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Una clase se organiza en varias fases: calentamiento, tonificación, estiramientos y relajación. Con el calentamiento prepararás el cuerpo y la mente. En el siguiente paso, tonificarás gradualmente los músculos, logrando firmeza y corrigiendo la postura. Con los estiramientos eliminarás tensiones y, por último, liberarás toxinas con la relajación.</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/yoga-6.jpg" class="img-fluid" alt="Posturas de Yoga"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary"><a href="https://www.ictiva.com/posturas-de-yoga/" target="_blank" class="text-primary">POSTURAS DE YOGA</a> PARA HACER EN CASA</h2>
                    <p class="mb-3 ls text-medium">Los ejercicios  constan de clases enfocadas a diferentes posturas (Hatha y Kundalini). Si decides instruirte desde el inicio, podrás probar dos sesiones gratuitas de ejercicios de Yoga para principiantes. Regístrate en el formulario y accede a  las clases online. Además, tendrás más de 25 sesiones de diversas disciplinas para que compruebes cómo es el gimnasio online de ictiva.</p>
                    <p class="mb-3 ls text-medium">Para hacer Yoga en casa sólo tendrás que escoger un rincón de tu hogar, conectar el dispositivo que prefieras  y empezar la práctica a partir de sesiones que te ayudarán a introducirte en esta especialidad que beneficiará tu inteligencia emocional.</p>
                    <p class="mb-3 ls text-medium">Con ictiva irás conociendo poco a poco todas las claves, desde la respiración hasta los movimientos, pasando por las correctas posiciones y la importancia de la alineación corporal. No lo dudes! Empieza a practicar todas las asanas hoy mismo y verás como tu cuerpo y tu mente te lo agradecen.</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/ictiva-mockup.png" class="img-fluid" alt="la App de ictiva"></div>

                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">LA APP DE EJERCICIOS DE YOGA DE ICTIVA</h2>
                    <p class="mb-3 ls text-medium">¿Sabías que puedes llevarte el gimnasio en el bolsillo dónde y cuándo tu quieras? Gracias a la app de ictiva podrás realizar Yoga online desde el lugar que más te inspire.</p>
                    <p class="mb-3 ls text-medium">Ningún rincón se te resistirá a la hora de practicar tus asanas. Puedes escoger el que más te guste o el que mejor se adapte a tus circunstancias. Tanto si estás de viaje o en tu domicilio, como si te gusta practicar esta disciplina al aire libre en lugar inspirador, llévate la aplicación en el bolsillo y empieza a beneficiarte de este método.</p>
                    <p class="mb-3 ls text-medium">Ya puedes disfrutar de  la aplicación para hacer Yoga en casa, descargándotela de Google Play. También encontrarás en tu tienda Apple Store la <a href="https://itunes.apple.com/us/app/ictiva-tu-gimnasio-online-de-ejercicios-en-casa/id1217405866?mt=8" target="_blank" class="text-primary">app de ictiva para practicar yoga</a> y otras disciplinas allí donde quieras. Podrás hacer un seguimiento de tu actividad, con acceso completo a todas las salas, planes de entrenamiento y nutrición.</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">                                 
                    <iframe frameborder="0" height="360" src="https://player.vimeo.com/video/165859195?color=fcbe17&title=0&byline=0&portrait=0" width="480"></iframe>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">NUESTRA MONITORA</h2>
                    <p class="mb-3 ls text-medium">Rosa María Madrid es la profesional que te conducirá en la práctica de esta disciplina milenaria . Tiene a sus espaldas una amplia experiencia que la avalan: Formación como profesora de Yoga por diferentes centros oficiales, además de mantenerse en activo en la actualidad, como instructora de esta maravillosa disciplina.</p>
                    <p class="mb-3 ls text-medium">Gracias a su extensa experiencia, te orientará al detalle en todas las sesiones virtuales. Sentirás que te acompaña, como si estuviera presente en el espacio en el que practiques. Te explicará al milímetro, cómo colocar cada parte de tu cuerpo, para que realices todas las asanas correctamente y sin lesiones.</p>
                    <p class="mb-3 ls text-medium">Hacer Yoga en casa te será muy sencillo con Rosa María Madrid. Te mostrará cómo realizar los movimientos al tiempo adecuado, con la respiración óptima, te enseñará a desarrollar tu capacidad de concentración con paciencia y, sobretodo, disciplina. Conseguirás armonía, consciencia y, a su vez, tu cuerpo se tornará más esbelto y ligero.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/yoga-8.jpg" class="img-fluid" alt="Ejercicios de Yoga"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">RECOMENDACIONES</h2>
                    <p class="mb-3 ls text-medium">Es importante saber, antes de realizar las asanas, una serie de recomendaciones para que logres ser un auténtico Yogui. La respiración es muy importante en esta disciplina y sirve como medio para lograr la concentración y dejar a un lado los pensamientos. Préstale atención para poder ir avanzando en la práctica.</p>
                    <p class="mb-3 ls text-medium">Sigue los consejos de Rosa María Madrid, en todos los ejercicios, para acabar las sesiones habiendo adquirido todos los conocimientos y los beneficios que te proporciona la clase. Con sus recomendaciones, prepararás tu cuerpo paulatinamente, evitarás lesiones y disfrutarás de cada avance.</p>
                    <p class="mb-3 ls text-medium">Es de vital importancia que no quieras ir deprisa y que disfrutes de casa movimiento.</p>
                    <p class="mb-3 ls text-medium">Asana por asana descubrirás una nueva forma de movimiento, de sentir y, con paciencia, descubrirás no sólo una forma de ejercitarte y verte mejor por fuera sino, que a su vez, descubrirás un modo de quererte y equilibrarte a nivel interno.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="no-padding">
        <div class="container-fluid banner-primary">
            <div class="row py-3 text-white">
                <div class="col-lg-12 text-center">
                    <p class="text-bigger p-3"><a href="https://www.ictiva.com/tarifas/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p>
                </div>
            </div>
        </div>
    </section> -->


    <section class="text-white bg-dark p-5 footer-list">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-12 col-sm-4 col-md-2 p-0">
                    <h5 class="text-uppercase font-weight-bold">Acerca de</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/gimnasia-en-casa/">¿Qué es ictiva?</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Servicios</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nuestro-equipo/">Nuestro equipo</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tarifas/">Tarifas</a></li>
                    </ul>
                </div>        
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Ayuda</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/faq/">FAQ</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/requisitos-tecnicos/">Requesitos Técnicos</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/blog/">Blog</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/contacto-gym/">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Compañía</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/programa-afiliacion/">Programa de afiliación</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/publicidad/">Publicidad</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.descuentoestudiante.com/ictiva-descuento-estudiante-iframe" target="_blank">Descuento estudiantes</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://wellwo.es/" target="_blank">Empresa Saludable</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Legal</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nota-legal/">Nota legal</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-uso/">Condiciones de uso</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-compra/">Condiciones de compra</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/politica-de-privacidad-y-cookies/">Politica de privacidad y cookies</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Social Media</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.facebook.com/ictivatugimnasioencasa/" target="_blank">Facebook</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://twitter.com/ictiva" target="_blank">Twitter</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.youtube.com/user/ictiva" target="_blank">YouTube</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.instagram.com/ictiva/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>

            
        </div>
    </section>
    <section class="no-padding footer-list bg-footer2">
        <div class="container-fluid px-5 pt-5 pb-0">
            <div class="row">
                <div class="col-12 col-lg-7 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold">Salas de ejercicio</h5>
                    <hr style="border-color:#333333;">
                    <div class="container-fluid pl-0 pr-5">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-aerobic/">Aerobic</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-yoga/">Yoga</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-pilates/">Pilates</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-hipopresivos/">Hipopresivos</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-abdominales/">Abdominales</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tbc/">TBC</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">                            
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/cuerpo-perfecto/">Cuerpo Perfecto</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-fitness/">Fitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/hiit/">Hiit</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/entrenamiento-boxeo/">Boxeo</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/combat/">Combat</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-steps/">Steps</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/fitness-girl">Fitness Girl</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-crossfit/">CrossFitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tabata">Tabata</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tds">Trainer Door System</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dance/">Dance</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-gimnasia-mayores/">Gimnasia para Mayores</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ciclo-indoor/">Ciclo In</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/danza-vientre/">Danza del Vientre</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-espalda/">Espalda Sana</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/estiramientos-y-relajacion/">Estiramientos y Relajación</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Mamás, Bebés y Niños</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/workout-ejercicios/">Workout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Planes de Entrenamiento</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/radical-change">Radical Change</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/lose-weight">Lose Weight</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tone-up">Tone Up</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/six-pack">Six Pack</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/wellness/">Wellness</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Dietas</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-equilibrada/">Dieta Equilibrada</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dietas-para-adelgazar/">Dieta para Adelgazar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-vientre-plano/">Dieta Vientre Plano</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-ganar-masa-muscular/">Dieta para Muscular</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-tonificar/">Dieta para Tonificar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-perder-barriga/">Dieta para abdominales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row text-center py-4">
            <div class="col">
                <img src="/homes/img/logos-footer/CERTIFICADO_ENISA-web70.jpg" class="img-fluid sr-icons enisa-icon" width="auto" alt="certificado enisa">
                <img src="/homes/img/logos-footer/confianza-online.svg" class="img-fluid sr-icons ml-4" width="70" alt="certificado confianza online">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center py-1">
            <div class="col">
                <p class="lead" style="font-size:0.8rem;">© Artic Technologic, S.L.- Avda. Prat de la Riba, 77 – 08401 Granollers – CIF B65837676 - RM de Barcelona: tomo 43367, folio 45, hoja B426697, inscrip. 1</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/homes/vendor/jquery/jquery.min.js"></script>
    <script src="/homes/vendor/tether/tether.min.js"></script>
    <script src="/homes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/homes/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/homes/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/homes/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <!-- Fontawesome Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="/homes/js/creative.min.js"></script>

    <script src="/homes/js/tutorial.min.js"></script>

    <script> 
     $('.navbar-nav>li>a').on('click', function(){
       $('.navbar-collapse').collapse('hide');
     });
   </script>

     <!--typo-->    
    <script src="https://use.typekit.net/wjv2qsz.js"></script>
    <script>
        // <![CDATA[
        try{Typekit.load({ async: true });}catch(e){}
        // ]]>
    </script>

    <script>
        //<![CDATA[
          var _comscore = _comscore || [];
          _comscore.push({ c1: "2", c2: "8731705" });
          (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
          })();
        //]]>
    </script>
    <noscript>
        <img src="//b.scorecardresearch.com/p?c1=2&amp;c2=8731705&amp;cv=2.0&amp;cj=1">
    </noscript>
    <script src="https://www.ictiva.com/js/js.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var cookie_name = 'ictiva-cookies';
            var Cookies2 = Cookies.noConflict();

            if (typeof Cookies2.get(cookie_name) != 'undefined') {
                $('#cookie-message').hide();
            }

            $('#cookie-close').click(function() {
                Cookies2.set(cookie_name, 'cookie', { expires: 365, path: '/' });
                $('#cookie-message').hide();
            });
        });
    </script>
    <!-- Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.1.0/js/smooth-scroll.min.js"></script>
    <script>
      smoothScroll.init({
      selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
      selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
      speed: 1500, // Integer. How fast to complete the scroll in milliseconds
      offset: 90, // Integer. How far to offset the scrolling anchor location in pixels
      easing: 'easeInOutQuad', // Easing pattern to use
      callback: function ( anchor, toggle ) {} // Function to run after scrolling
      });
    </script>

</body>

</html>