<!DOCTYPE html>
<html lang="es-ES">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ictiva">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="language" content="es-ES" />

    <title>Ejercicios de abdominales para lograr un abdomen perfecto</title>

    <!-- Google Optimize -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NGZ6FLX':true});</script>
    <!-- End Google Optimze -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRF3HL');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1726290627612934');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1726290627612934&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <meta name="verification" content="81bd71e1f26eb0b3898a5e427df1b4df" />
    <meta name="description" content="Ejercicios de abdominales para conseguir un abdomen diez. Pierde grasa y tonifica tu vientre. Ya no hay excusas! Inicia Tu Entrenamiento Ahora." />
    <meta name="keywords" content="ejercicios de abdominales, ejercicios abdominales, mejores ejercicios para abdominales, rutina de ejercicios abdominales, ejercicios para tener abdominales" />
    <meta name”robots” content=”noindex,nofollow”>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Ejercicios de abdominales para lograr un abdomen perfecto" />
    <meta property="og:description" content="Ejercicios de abdominales para conseguir un abdomen diez. Pierde grasa y tonifica tu vientre. Ya no hay excusas! Inicia Tu Entrenamiento Ahora." />
    <meta property="og:url" content="https://www.ictiva.com/ejercicios-de-abdominales/" />
    <meta property="og:site_name" content="ictiva, tu gimnasio online" />
    <meta property="og:image" content="https://www.ictiva.com/img/logo_ictiva.svg" />

    <link rel=”canonical” href=”https://www.ictiva.com/ejercicios-de-abdominales/" />

    <!--Icon, favicon & webapp -->
    <link rel="shortcut icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/homes/img/favicon.ico" type="image/ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/homes/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/homes/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/homes/css/magnific-popup.min.css" rel="stylesheet">

    <link href="/homes/css/custom.min.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <!-- Temporary navbar container fix -->
    <style>
    .btn > a:hover{
        text-decoration: none!important;
    }
    .navbar-toggler {
        z-index: 1;
    }
    .border-bt-primary-1{
        border-bottom: 24px solid #e57532;
    }
    header.bg-landing{        
        background-image: url(/homes/img/fotos/home.jpg);
        background-position: top center;
        background-size: cover;
        min-height: 90vh;
    }
    header.bg-landing:before{
        min-height: 90vh;
    }
    header.bg-landing>div{
        width: 80%;
        margin-left: 10%;
    }
    .video-section{
        margin-top: -10rem;
    }
    .line-height-2{
        line-height: 2.6rem;
        font-size: 1.2rem;
    }
    .pl-6{
        padding-left: 4.5rem;
    }    
    .pr-6{
        padding-right: 4.5rem;
    }
    .bg-primary-light {
      background: rgba(247,170,69,1) !important;
    }
    .bg-grey-2{
        background-color: #dfdfdb;
    }
    li.ls{
        list-style-type: none;
    }
    .widget-home{
        width: 345px;
    }
    .banner-primary{
        background-color: #e57532;
    }
    .banner-primary a:hover{
        color: #ffffff!important;
    }
    a.text-primary:hover{
        color: #e57532!important;
    }
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    @media (max-width: 767px){
        /*header.bg-landing{        
            background-image: url(/homes/img/img-pilates/pilates-home.jpg);
            background-position: top center;
            background-size: cover;
            min-height: 90vh;
        }
        header.bg-landing:before{
            min-height: 90vh;
        }*/
        header.bg-landing>div{
            width: 100%;
            margin: auto;
        }
    }
    @media (min-width: 1281px) {
        .text-medium{
            font-size: 1.25rem;
        }
    }
    @media (min-width: 1680px){
        .container {
            width: 1620px;
            max-width: 100%;
        }
        .extra-lg h1.display-4{
            font-size: 4rem;
            padding-bottom: 2.2rem!important;
        }
        .extra-lg p, .extra-lg a{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        .extra-lg h2{
            font-size: 2rem;
        }
        /*.extra-lg a.btn-scroll{
            font-size: 1.1rem;
        }*/
        .extra-lg li{
            font-size: 1.6rem;
        }
        .widget-home{
            width: 475px;
            margin-right: 3rem;
        }
        .widget-home p.px-4,.widget-home ul.pl-4{
            padding-left: 2.5rem!important;
        }
        .widget-home p.py-3{
            padding-top: 1.5rem!important;
            padding-bottom:  1.5rem!important;
        }
        .line-height-2{
            line-height: 4rem;
        }
        .btn-scroll .pt-2{
            padding-top: 6rem!important;
        }
        .btn-scroll a{
            font-size: 1.3rem;
        }
    }
    </style>

</head>

<body id="page-top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRF3HL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="cookies home d-none" id="cookie-message">
    <div id="cookie-close" class="close-message"><a href="javascript:;"></a></div>
    <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Puedes modificar esta opción en tu navegador, por tanto si continuas navegando sin modificarlo, consideramos que aceptas su uso. <a href="/politica-de-privacidad-y-cookies/" target="_blank">¿Quieres ver nuestra política de cookies?</a></p>
</div>

    <div id="menu-wrap" class="container-fluid bg-white fixed-top">
        <div class="row my-2">
            <nav class="navbar navbar-toggleable-md navbar-light col-7 bg-white">
                <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-bg-icon"></span>
                </button>
                <div class="container pl-lg-0">
                    <a class="navbar-brand ml-5 ml-lg-3" href="/">
                        <img src="https://www.ictiva.com/img/logo_ictiva.svg" width="auto" height="auto" alt="ictiva-logo" class="img-fluid">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarExample">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link px-2 text-uppercase mt-3 mt-sm-0" href="/">Gimnasio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/salud">Salud</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/entrenador">Entrenador Virtual</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/nutricion">Nutrición</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link text-blue" href="http://www.ictivashop.com/">Shop</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase hidden-lg-up">
                                <a class="nav-link text-primary" href="https://www.ictiva.com/tarifas/">Tarifas</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-5 no-padding bg-white">
                <ul class="row justify-content-end mt-3 mt-sm-1 mb-0 mr-1 mr-md-2 p-0 h-100 align-items-start menu-mob">
                    <li class="bg-grey-2 py-0 px-4 py-sm-2 p-xl-2">
                        <a class="text-dark btn text-uppercase" href="https://www.ictiva.com/tarifas/">TARIFAS</a>
                    </li>
                    <li class="bg-primary p-0 py-sm-2 p-xl-2 hidden-md-down">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/tarifas/">INICIA TU ENTRENAMIENTO</a>
                    </li><!-- 
                    <li class="bg-darkgrey p-0 py-sm-2 p-xl-2 hidden-md-down">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/usuarios/login/">Acceso Usuarios</a>
                   </li> -->
                </ul>
            </div>
        </div>
    </div>


    <header class="bg-landing pt-4 mt-5 align-items-center section-header-video">
        <div class="container bg-video d-block d-sm-flex justify-content-center mt-5">
            <div class="row mb-0 mt-5 px-4">
                <div class="col-12 col-lg-7 extra-lg py-3">
                    <h1 class="text-white text-uppercase display-4 pb-lg-3">EJERCICIOS DE ABDOMINALES</h1>
                    <p class="text-white h5 pb-lg-4">Con ictiva, tú también puedes presumir de abdomen.</p>
                    <h2 class="text-primary text-uppercase text-bigger pb-lg-4 font-weight-bold">DESCUBRE LOS MEJORES EJERCICIOS DE ABDOMINALES</h2>
                    <p class="text-white text-medium mb-5">¡Los tenemos todos en ictiva para que sólo tengas que pasar a la acción!</p>
                    <p class="py-4 btn bg-primary rounded-0"><a data-scroll href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
                <div class="col-12 col-md-5 py-3 extra-lg d-none d-md-block hidden-md-down">
                    <div class="widget-home float-right">
                        <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios:</p>
                        <ul class="bg-lightgrey m-auto py-3 pl-4">
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Abdomen atractivo</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Respiración más fluida</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Equilibrio físico</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Refuerza el core</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Fortalece tu espalda</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejor postura corporal</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Protege los órganos</li>
                            <li class="line-height-2 ls mb-4"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora el rendimiento</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 btn-scroll pt-2 text-center d-none d-sm-block">
                    <p class="py-4 btn"><a data-scroll href="#pagetwo" class="text-uppercase text-white text-center m-0 py-4">Descubre la sala<br><i class="fas fa-chevron-down text-white mt-2"></a></i></p>
                </div>
            </div>
        </div>
        <video autoplay loop muted class="w-100 hidden-sm-down">
            <source src="/homes/video/abdominales_portada_web.mp4" type="video/mp4">
            <source src="/homes/video/abdominales_portada_web.webm" type="video/webm">
            <embed src="/homes/video/abdominales_portada_web.mp4" type="application/x-shockwave-flash" width="100%" height="570" allowscriptaccess="always" allowfullscreen="true" autoplay="true" showcontrols="0">
        </video>
    </header>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 py-3 px-3 extra-lg d-md-none hidden-sm-up">
                <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios:</p>
                <ul class="bg-lightgrey m-auto py-3 pl-4">
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Abdomen atractivo</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Respiración más fluida</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Equilibrio físico</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Refuerza el core</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Fortalece tu espalda</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejor postura corporal</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Protege los órganos</li>
                    <li class="line-height-2 ls mb-4"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora el rendimiento</li>
                </ul>
                <!-- <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p> -->
            </div>
        </div>
    </section>
    <section class="no-padding bg-faded">
        <div class="container py-0">
            <div class="row px-5 py-4">
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/localizacion_icon.png" class="sr-icons mb-3" alt="Donde quieras" height="80px" width="auto">
                        <h4 class="h4">DONDE QUIERAS</h3>
                        <!-- <p class="text-muted">Acceso ilimitado donde quieras y a la hora que quieras.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/reloj_icon.png" class="sr-icons mb-3" alt="Cuando quieras" height="80px" width="auto">
                        <h4 class="h4">CUANDO QUIERAS</h3>
                        <!-- <p class="text-muted">Clases dirigidas con ejercicios de 21 disciplinas diferentes.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/play_icon.png" class="sr-icons mb-3" alt="Las veces que quieras" height="80px" width="auto">
                        <h4 class="h4">LAS VECES QUE QUIERAS</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/infinito_icon.png" class="sr-icons mb-3" alt="acceso ilimitado" height="80px" width="auto">
                        <h4 class="h4">ACCESO ILIMITADO</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pagetwo" class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">
                    <iframe src="https://player.vimeo.com/video/279442935?color=fcbe17&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">EJERCICIOS PARA TENER ABDOMINALES</h2>
                    <ul class="pr-3 pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Un abdomen plano, tonificado y sin grasa es sinónimo de belleza y salud. Hoy en día sigue siendo el objetivo principal de muchas personas. Pero, ¿conoces los mejores ejercicios para tener abdominales? Hay tanta información que se hace difícil saber la idónea, ¿verdad? En ictiva queremos guiarte para lograr tu objetivo con éxito y, te aseguramos, que todos tus esfuerzos tendrán resultados visibles.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Esta zona, es una de las partes del cuerpo donde más grasa se acumula. Por esta razón, es imprescindible llevar a cabo una buena rutina semanal para eliminar la grasa localizada, fortalecer y definir. Porque recuerda que, en el deporte, prima la calidad a la cantidad.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Si quieres los abdominales que aún desconoces que puedes tener, déjanos a ictiva el trabajo de recomendarte los mejores ejercicios para abdominales, para que tú sólo te centres en ejecutarlos para alcanzar tu objetivo. ¡Si quieres, puedes conseguirlo!</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">ENTRENA AHORA</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-abdominales/abdominales1.jpg" class="img-fluid" alt=""></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary"><a href="https://www.ictiva.com/ejercicios-en-casa/videos-abdominales/" class="text-primary">VIDEOSESIONES PARA TENER UN ABDOMEN TONIFICADO</a></h2>
                    <ul class="pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Los vídeos de ictiva están grabados de forma profesional, con el material técnico idóneo para que puedas sentir que tienes a los profesores para ti, presentes en el lugar donde decidas entrenar. Con tiros de cámara desde diferentes ángulos para que complemente la explicación del instructor y no se te escape detalle alguno.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Realizar los ejercicios de abdominales te será bien sencillo. Ya no tendrás excusas, ya que ictiva te ofrece la libertad de entrenar donde y cuando quieras, con unos vídeos de calidad para que puedas seguir las directrices con fluidez. Todas las ventajas de tener clases dirigidas en el salón de tu casa.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Cada una de las clases te indican toda la información que necesitas saber: En qué consiste la vídeosesión, la duración, la dificultad, material a emplear (si fuera necesario) y las calorías.  Te garantizamos que ictiva alberga los mejores ejercicios para abdominales para alcanzar tu objetivo.</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">EMPIEZA YA!</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-abdominales/abdominales2.jpg" class="img-fluid" alt=""></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">LOS MEJORES EJERCICIOS ABDOMINALES</h2>
                    <p class="mb-3 ls text-medium">Las sesiones tienen diferentes duraciones para adaptarnos al tiempo del que dispongas. Encontrarás que el tiempo del que dispongas, será suficiente y valiosísimo, para realizar las clases de ictiva. Sacarás el mayor rendimiento del tiempo que tengas. Y, para hacerlo aún más personalizado, tienes a tu disposición distintos niveles de dificultad para que sea cual sea el punto en el que estés, tengas tu rutina de ejercicios abdominales.</p>
                    <p class="mb-3 ls text-medium">Para conseguir eliminar la grasa localizada y la flacidez, fortalecer y marcar tu sixpack, realizarás todo tipo de abdominales (transversos, inferiores, oblicuos, etc), los ejercicios para tener abdominales más efectivos, como el Mountain Climber, Spiderman, todo tipo de planchas, círculo de piernas, elevaciones, Crunch, etc. Te será ameno entrenar gracias al abanico de posibilidades que te presentamos en el gimnasio.</p>
                    <p class="mb-3 ls text-medium">Te aseguramos que, si eres constante y, sigues los consejos de los profesionales paso a paso y prestando atención a la colocación/repeticiones/descansos, en pocas semanas notarás los beneficios.</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">PRUEBA GRATIS</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">                
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">                                 
                    <iframe frameborder="0" height="360" src="https://player.vimeo.com/video/176716908?color=fcbe17&title=0&byline=0&portrait=0" width="480"></iframe>
                </div>

                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">LA APP DE ICTIVA</h2>
                    <p class="mb-3 ls text-medium">¿Quieres llevarte a tu entrenador personal en el bolsillo? Ahora puedes realizar los <a href="https://play.google.com/store/apps/details?id=ictiva.carbonbyte.com.ictiva" class="text-primary">ejercicios de abdominales en casa</a> con la app de ictiva que encontrará en Google Play.</p>
                    <p class="mb-3 ls text-medium">Llévate el entreno a tu lugar preferido, tonifica tu zona abdominal y consigue el abdomen que desees. Porque Internet te ofrece la posibilidad de obtener un sinfín de entrenamientos, pero, ¿son los acertados para tu objetivo, tu nivel y condición física? ictiva lo es. Estará en las mejores manos.</p>
                    <p class="mb-3 ls text-medium">La app de ictiva es el modo perfecto de no interrumpir tu rutina de ejercicios. Podrás practicarlo en cualquier sitio, sin excusas. Tanto si está en época vacacional como si eres una persona que viaja mucho, el gimnasio estará en tu bolsillo para que acudas cuando tú quieras.</p>
                    <p class="mb-3 ls text-medium">Hacer ejercicios de abdominales te será muy cómodo, con la sencillez de pulsar un botón y mucho más económico que un gimnasio físico. Tendrás un control de tu actividad, acceso a todas las salas de disciplinas diversas, planes nutricionales, planes de entrenamiento y mucho más. También tines disponible la <a href="https://itunes.apple.com/es/app/gimnasio-online-rutinas/id1217405866?mt=8" class="text-primary">aplicación de entrenamiento de abdominales</a> en la Apple Store. Descárgatela ya!</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">EMPIEZA HOY MISMO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-abdominales/abdominales3.jpg" class="img-fluid" alt="NUESTROS MONITORES"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">ENTRENA TU ABDOMEN</h2>
                    <p class="mb-3 ls text-medium">En ictiva encontrarás una Sala de ejercicios dedicada única y exclusivamente a esta zona. Con explicaciones detalladas para que entrenes de forma correcta, con las posiciones precisas para evitar lesiones, de la mano de las mejores profesionales.</p>
                    <p class="mb-3 ls text-medium">Pero, además de la sala específica, podrás seguir vídeosesiones  para todos los gustos y necesidades en otras salas del gimnasio. Salas con las que perderás la grasa de esta área como por ejemplo TBC o entrenamiento Hitt, pasando por clases de Fitness Girl o Cuerpo Perfecto más enfocadas a tonificar. También, tienes a tu alcance, una forma distinta y altamente recomendada para lograr un abdomen fuerte y con una salud inmejorable: Gimnasia Hipopresiva.</p>
                    <p class="mb-3 ls text-medium">Como puedes ver, en ictiva tenemos los mejores ejercicios para alcanzar tu objetivo. Diversidad en las disciplinas, niveles para adaptados a ti, los mejores profesionales cualificados y con varias duraciones para que sean alcanzables, sea cual sea el tiempo del que dispongas.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">ENTRENA AHORA</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="no-padding">
        <div class="container-fluid banner-primary">
            <div class="row py-3 text-white">
                <div class="col-lg-12 text-center">
                    <p class="text-bigger p-3"><a href="https://www.ictiva.com/usuarios/alta/" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p>
                </div>
            </div>
        </div>
    </section> -->


    <section class="text-white bg-dark p-5 footer-list">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-12 col-sm-4 col-md-2 p-0">
                    <h5 class="text-uppercase font-weight-bold">Acerca de</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/gimnasia-en-casa/">¿Qué es ictiva?</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Servicios</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nuestro-equipo/">Nuestro equipo</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tarifas/">Tarifas</a></li>
                    </ul>
                </div>        
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Ayuda</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/faq/">FAQ</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/requisitos-tecnicos/">Requesitos Técnicos</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/blog/">Blog</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/contacto-gym/">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Compañía</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/programa-afiliacion/">Programa de afiliación</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/publicidad/">Publicidad</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">ictiva en los medios</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="http://www.ictivawork.com/">ictiva para empresas</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Legal</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nota-legal/">Nota legal</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-uso/">Condiciones de uso</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-compra/">Condiciones de compra</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/politica-de-privacidad-y-cookies/">Politica de privacidad y cookies</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Social Media</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.facebook.com/ictivatugimnasioencasa/" target="_blank">Facebook</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://twitter.com/ictiva" target="_blank">Twitter</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.youtube.com/user/ictiva" target="_blank">YouTube</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.instagram.com/ictiva/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>

            
        </div>
    </section>
    <section class="no-padding footer-list bg-footer2">
        <div class="container-fluid px-5 pt-5 pb-0">
            <div class="row">
                <div class="col-12 col-lg-7 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold">Salas de ejercicio</h5>
                    <hr style="border-color:#333333;">
                    <div class="container-fluid pl-0 pr-5">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-aerobic/">Aerobic</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-yoga/">Yoga</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-pilates/">Pilates</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-hipopresivos/">Hipopresivos</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-abdominales/">Abdominales</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tbc/">TBC</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">                            
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/cuerpo-perfecto/">Cuerpo Perfecto</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-fitness/">Fitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/hiit/">Hiit</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/entrenamiento-boxeo/">Boxeo</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/combat/">Combat</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-steps/">Steps</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/fitness-girl">Fitness Girl</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-crossfit/">CrossFitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tabata">Tabata</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tds">Trainer Door System</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dance/">Dance</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-gimnasia-mayores/">Gimnasia para Mayores</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ciclo-indoor/">Ciclo In</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/danza-vientre/">Danza del Vientre</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-espalda/">Espalda Sana</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/estiramientos-y-relajacion/">Estiramientos y Relajación</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Mamás, Bebés y Niños</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/workout-ejercicios/">Workout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Planes de Entrenamiento</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/radical-change">Radical Change</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/lose-weight">Lose Weight</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tone-up">Tone Up</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/six-pack">Six Pack</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/wellness/">Wellness</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Dietas</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-equilibrada/">Dieta Equilibrada</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dietas-para-adelgazar/">Dieta para Adelgazar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-vientre-plano/">Dieta Vientre Plano</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-ganar-masa-muscular/">Dieta para Muscular</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-tonificar/">Dieta para Tonificar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-perder-barriga/">Dieta para abdominales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row text-center py-4">
            <div class="col">
                <img src="/homes/img/logos-footer/CERTIFICADO_ENISA-web70.jpg" class="img-fluid sr-icons enisa-icon" width="auto" alt="certificado enisa">
                <img src="/homes/img/logos-footer/confianza-online.svg" class="img-fluid sr-icons ml-4" width="70" alt="certificado confianza online">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center py-1">
            <div class="col">
                <p class="lead" style="font-size:0.8rem;">© Artic Technologic, S.L.- Avda. Prat de la Riba, 77 – 08401 Granollers – CIF B65837676 - RM de Barcelona: tomo 43367, folio 45, hoja B426697, inscrip. 1</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/homes/vendor/jquery/jquery.min.js"></script>
    <script src="/homes/vendor/tether/tether.min.js"></script>
    <script src="/homes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/homes/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/homes/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/homes/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <!-- Fontawesome Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="/homes/js/creative.min.js"></script>

    <script src="/homes/js/tutorial.min.js"></script>

    <script> 
     $('.navbar-nav>li>a').on('click', function(){
       $('.navbar-collapse').collapse('hide');
     });
   </script>

     <!--typo-->    
    <script src="https://use.typekit.net/wjv2qsz.js"></script>
    <script>
        // <![CDATA[
        try{Typekit.load({ async: true });}catch(e){}
        // ]]>
    </script>

    <script>
        //<![CDATA[
          var _comscore = _comscore || [];
          _comscore.push({ c1: "2", c2: "8731705" });
          (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
          })();
        //]]>
    </script>
    <noscript>
        <img src="//b.scorecardresearch.com/p?c1=2&amp;c2=8731705&amp;cv=2.0&amp;cj=1">
    </noscript>
    <script src="https://www.ictiva.com/js/js.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var cookie_name = 'ictiva-cookies';
            var Cookies2 = Cookies.noConflict();

            if (typeof Cookies2.get(cookie_name) != 'undefined') {
                $('#cookie-message').hide();
            }

            $('#cookie-close').click(function() {
                Cookies2.set(cookie_name, 'cookie', { expires: 365, path: '/' });
                $('#cookie-message').hide();
            });
        });
    </script>
    <!-- Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.1.0/js/smooth-scroll.min.js"></script>
    <script>
      smoothScroll.init({
      selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
      selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
      speed: 1500, // Integer. How fast to complete the scroll in milliseconds
      offset: 90, // Integer. How far to offset the scrolling anchor location in pixels
      easing: 'easeInOutQuad', // Easing pattern to use
      callback: function ( anchor, toggle ) {} // Function to run after scrolling
      });
    </script>

</body>

</html>