<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <meta name="author" content="ictiva">
        <meta name="robots" content="index, follow" />
        <meta name="language" content="es-ES" />

        <title>Ictiva - Tu Gimnasio Online</title>

        <!-- Google Optimize -->
        <style>.async-hide { opacity: 0 !important} </style>
        <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',4000,
        {'GTM-NGZ6FLX':true});</script>
        <!-- End Google Optimze -->

        
        <!-- Page hiding snippet (recommended) -->
        <style>.async-hide { opacity: 0 !important} </style>
        <script>
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
        })(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-PRF3HL':true});
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PRF3HL');</script>
        <!-- End Google Tag Manager -->

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1726290627612934');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1726290627612934&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <meta name="verification" content="81bd71e1f26eb0b3898a5e427df1b4df" />
        <meta name="description" content="Tu gimnasio online con rutinas de ejercicios en casa, planes de entrenamiento y dietas. INICIA TU CAMBIO virtual con nuestro gimnasio en casa." />
        <meta name="keywords" content="gimnasio online, ejercicios en casa, gimnasio en casa, gimnasia en casa, plan de entrenamiento, rutina de ejercicios, gym virtual, gimnasio virtual" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Gimnasio en casa: Haz ejercicios en casa con tu gimnasio online virtual" />
        <meta property="og:description" content="Tu gimnasio online con rutinas de ejercicios en casa, planes de entrenamiento y dietas. INICIA TU CAMBIO virtual con nuestro gimnasio en casa." />
        <meta property="og:url" content="https://www.ictiva.com/" />
        <meta property="og:site_name" content="ictiva, tu gimnasio online" />
        <meta property="og:image" content="https://www.ictiva.com/img/logo_ictiva.svg" />

        <link rel=”canonical” href=”https://www.ictiva.com/” />

        <!-- Favicon-->
        <link rel="shortcut icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/homes/img/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="/homes/img/favicon.ico" type="image/ico"/>

        
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Material+Icons&display=swap" rel="stylesheet">
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/homes/src/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRF3HL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/homes/src/assets/img/logo-ictiva-new.svg" width="120" height="auto" class="img-fluid" alt="logo ictiva"></a>                
                <a class="btn btn-primary btn-nav py-2 d-lg-none" href="https://www.ictiva.com/tarifas/?home=landinggimnasio">Tarifas</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto d-flex align-items-center">
                        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#cuerpo">Cuerpo</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#mente">Mente</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#nutricion">Nutrición</a></li> -->
                        <li class="nav-item"><a class="nav-link js-scroll-trigger d-none d-lg-block" href="https://www.ictiva.com/tarifas/?home=landinggimnasio">Tarifas</a></li>
                        <li class="nav-item px-3 mt-5 mt-lg-0"><a class="btn btn-primary btn-nav js-scroll-trigger" href="https://www.ictiva.com/usuarios/alta/">Prueba Gratis</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://www.ictiva.com/usuarios/login/">Inicia sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead section-header-video">
            <div class="container bg-video text-center">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end pt-5">
                        <h1 class="text-uppercase text-white font-weight-bold text-shadow">TU GIMNASIO ONLINE</h1>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <h4 class="text-white font-weight-light mb-5 text-shadow2">¡Ahora con <span class="text-primary">entrenamientos en directo</span> cada día!</h4>
                    </div>
                </div>
            </div>
            <video autoplay loop muted class="w-100 d-none d-lg-block">
                <source src="/homes/src/assets/video/Careta-Video-FB_20sg_2_compress.webm" type="video/webm">
                <source src="/homes/src/assets/video/Careta Video FB_20sg_2_compress.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </header>
        <!-- Botón Inicia el Cambio -->
        <section id="btn-inicia" class="position-absolute w-100">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8 text-center">
                      <a class="btn btn-primary btn-xl js-scroll-trigger px-5" href="https://www.ictiva.com/usuarios/alta/">Prueba Gratis</a>
                  </div>
              </div>
          </div>
      </section>
        <!-- CUERPO-->
        <section class="" id="cuerpo">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center mx-lg-5 p-lg-5">
                    <div class="col-lg-5 my-5 pt-5 pt-lg-3">
                        <h2 class="text-uppercase text-secondary font-weight-bold mb-4"><span class="material-icons mr-3 text-secondary">lens</span>Cuida tu <span class="text-primary">cuerpo</span></h2>
                        <h6 class="text-uppercase mb-5">Todo lo que necesitas para ponerte en forma</h6>
                        <ul class="pl-0 mb-5 showcase">
                            <li><span class="material-icons mr-3 text-primary">done</span>Clases en directo todos los días <img src="/homes/src/assets/img/LIVE.png" alt="LIVE - Videos en directo" height="25" class="mb-3 mx-1"></li>
                            <li><span class="material-icons mr-3 text-primary">done</span><span class="font-weight-bold">Más de 1000</span> entrenamientos diferentes</li>
                            <li><span class="material-icons mr-3 text-primary">done</span>Entrena donde y cuando quieras <span class="font-weight-bold">24/7</span></li>
                            <li><span class="material-icons mr-3 text-primary">done</span>Entrenadores de <span class="font-weight-bold">primer nivel</span></li>
                            <li><span class="material-icons mr-3 text-primary">done</span>Para todos los <span class="font-weight-bold">objetivos y niveles</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 text-center mt-lg-5 pt-lg-3">
                        <div class="swiper-container">
                            <p class="text-center font-weight-bold text-uppercase h4 pb-4">Nuestras salas de ejercicios</p>
                            <div class="swiper-wrapper">
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/hipopresivos.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Hipopresivos</p><p class="mb-0">Fortalece tu suelo pélvico</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/hiit.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Hiit</p><p class="mb-0">Ponte en forma</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/pilates.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Pilates</p><p class="mb-0">Gana flexibilidad</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/yoga.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Yoga</p><p class="mb-0">Cuida tu mente</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/fitness.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Fitness</p><p class="mb-0">Tonifica tus músculos</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/tbc.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Total Body</p><p class="mb-0">Pierde peso</p></div></div></div>
                              <div class="swiper-slide" style="line-height: 1em;"><div><img src="/homes/src/assets/img/carousel/mas-disciplinas.jpg" width="100%" height="auto" class="img-fluid rounded-top-10" alt="ictiva - cuida tu mente"><div class="bg-light py-3 px-2 text-dark text-center rounded-bottom-10"><p class="font-weight-bold text-uppercase title-card-slider">Más disciplinas</p><p class="mb-0">Tonodance, Tabata, Boxeo...</p></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- MENTE-->
        <section class="bg-mente" id="mente">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="offset-lg-6 col-lg-6 bg-light d-flex justify-content-center py-5 showcase-text">
                      <div>
                        <h2 class="text-uppercase text-secondary font-weight-bold my-4"><span class="material-icons mr-3 text-secondary">lens</span>Cuida tu <span class="text-primary">mente</span></h2>
                        <h6 class="text-uppercase mb-5">Todo lo que necesitas para combatir el estrés y encontrar la calma</h6>
                        <ul class="pl-0 mb-5 showcase">
                            <li class="d-flex align-items-center"><span class="material-icons mr-3 text-primary">radio_button_unchecked</span>Curso de Mindfulness</li>
                            <li class="d-flex align-items-center"><span class="material-icons mr-3 text-primary">radio_button_unchecked</span>Guía de  estiramientos y relajación</li>
                            <li class="d-flex align-items-center"><span class="material-icons mr-3 text-primary">radio_button_unchecked</span>Meditaciones para aliviar el estrés</li>
                            <li class="d-flex align-items-center"><span class="material-icons mr-3 text-primary">radio_button_unchecked</span>Pranayamas: Técnicas de respiración</li>
                            <li class="d-flex align-items-center"><span class="material-icons mr-3 text-primary">radio_button_unchecked</span>Meditación guiada para dormir bien</li>
                        </ul>
                        <p class="d-flex justify-content-center justify-content-lg-start">
                          <a class="btn btn-primary btn-xl js-scroll-trigger mb-5" href="https://www.ictiva.com/usuarios/alta/">Encuentra la calma</a>
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <!-- NUTRICION-->
        <section id="nutricion">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center py-5">
                    <div class="col-lg-5 my-5">
                        <h2 class="mt-0 text-uppercase text-secondary font-weight-bold mb-4"><span class="material-icons mr-3 text-secondary">lens</span>Cuida tu <span class="text-primary">nutrición</span></h2>
                        <h6 class="text-uppercase mb-5 px-4 pl-lg-0">Todo lo que necesitas para alimentarte de forma saludable</h6>
                        <ul class="pl-0 mb-5 mr-5 pr-3 mr-lg-0 pr-lg-0 showcase">
                            <li class="d-flex"><span class="material-icons mr-3 mt-3 text-primary">radio_button_unchecked</span>DIETAS de 4 semanas de duración adaptadas por objetivos: perder peso, tonificar tus músculos o reducir tu estrés.</li>
                            <li class="d-flex"><span class="material-icons mr-3 mt-3 text-primary">radio_button_unchecked</span>RECETAS caseras fáciles de hacer y batidos energéticos, de proteínas y diuréticos.</li>
                        </ul>
                        <p class="d-flex justify-content-center justify-content-lg-start">
                          <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://www.ictiva.com/usuarios/alta/">Planes nutricionales</a>
                        </p>
                    </div>
                    <div class="col-lg-5 my-5 text-center">
                        <img src="/homes/src/assets/img/mockup-nutricion.gif" width="auto" height="500" class="" alt="ictiva - cuida tu mente">
                    </div>
                </div>
            </div>
        </section>
        <!-- TARIFAS-->
        <!-- <section class="page-section bg-tarifas" id="tarifas">
            <div class="container-fluid">
                <h2 class="text-center text-white mt-0 font-weight-bold mb-4 text-shadow2">AQUÍ EMPIEZA TU CAMINO</h2>
                <div class="row d-flex justify-content-center align-items-end">
                    <div class="col-lg-4 col-md-6 text-center mb-5">
                        <div class="card text-center border-0 rounded-max mx-lg-5 mt-5">
                            <div class="card-header bg-secondary text-white rounded-top-max">
                            3 MESES
                            </div>
                            <div class="card-body card-shadow rounded-bottom-max bg-white py-5">
                                <h5 class="card-title display-4 font-weight-bold d-inline-block align-text-top">23</h5><h5 class="card-title font-weight-bold d-inline-block align-top-text">'85</h5>
                                <p class="card-text">8,95€ / mes</p>
                            </div>
                              <a href="https://www.ictiva.com/tarifas/" class="card-footer bg-primary rounded-max border-0 text-white text-uppercase h4 py-4 font-weight-bold">Empieza Ahora</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5">
                        <p class="rounded-max text-center font-weight-bold border-primary py-1 mx-5 mt-5">Ahorras el <span class="text-primary">12%</span></p>
                        <div class="card text-center border-0 rounded-max mx-lg-5">
                            <div class="card-header bg-secondary text-white rounded-top-max">
                            6 MESES
                            </div>
                            <div class="card-body card-shadow rounded-bottom-max bg-white py-5">
                                <h5 class="card-title display-4 font-weight-bold d-inline-block align-text-top">41</h5><h5 class="card-title font-weight-bold d-inline-block align-top-text">'70</h5>
                                <p class="card-text">6,95€ / mes</p>
                            </div>
                            <a href="https://www.ictiva.com/tarifas/" class="card-footer bg-primary rounded-max border-0 text-white text-uppercase h4 py-4 font-weight-bold">Empieza Ahora</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-5">
                        <p class="rounded-max text-center font-weight-bold border-primary py-1 mx-5 mt-5">Ahorras el <span class="text-primary">25%</span></p>
                        <div class="card text-center border-0 rounded-max mx-lg-5">
                            <div class="card-header bg-secondary text-white rounded-top-max">
                            1 AÑO
                            </div>
                            <div class="card-body card-shadow rounded-bottom-max bg-white py-5">
                                <h5 class="card-title display-4 font-weight-bold d-inline-block align-text-top">71</h5><h5 class="card-title font-weight-bold d-inline-block align-top-text">'40</h5>
                                <p class="card-text">5,95€ / mes</p>
                            </div>
                            <a href="https://www.ictiva.com/tarifas/" class="card-footer bg-primary rounded-max border-0 text-white text-uppercase h4 py-4 font-weight-bold">Empieza Ahora</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- PREFOOTER -->
        <section class="page-section bg-dark" id="prefooter">
            <div class="container-fluid">
                <div class="row justify-content-around text-white px-5">
                    <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                        <img src="/homes/src/assets/img/logo-ictiva-new-light.svg" width="120" height="auto" class="img-fluid" alt="logo ictiva">
                    </div>
                    <div class="col-12 col-lg-2 mb-5 mb-lg-0">
                        <ul class="showcase">
                            <h4 class="text-white font-weight-bold">AYUDA</h4>
                            <li><a href="https://www.ictiva.com/tarifas/">Tarifas</a></li>
                            <li><a href="https://www.ictiva.com/faq/">Faq´s</a></li>
                            <li><a href="https://www.ictiva.com/contacto-gym/">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 mb-5 mb-lg-0">
                        <ul class="showcase">
                            <h4 class="text-white font-weight-bold">LEGAL</h4>
                            <li><a href="https://www.ictiva.com/nota-legal/">Nota legal</a></li>
                            <li><a href="https://www.ictiva.com/condiciones-de-uso/">Condiciones de uso</a></li>
                            <li><a href="https://www.ictiva.com/politica-de-privacidad-y-cookies/">Política de privacidad y cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-2">
                        <ul class="showcase">
                            <h4 class="text-white font-weight-bold">SOCIAL</h4>
                            <li><a href="https://www.facebook.com/ictivatugimnasioencasa/">Facebook</a></li>
                            <li><a href="https://www.instagram.com/ictiva/">Instagram</a></li>
                            <li><a href="https://www.youtube.com/user/ictiva">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="container-fluid bg-light py-5">
          <div class="row text-center">
            <div class="col-12 d-flex justify-content-center mb-5">
              <img src="/homes/src/assets/img/CERTIFICADO_ENISA-web70.png" class="mx-3" width="40" height="84"  alt="certificado enisa">
              <img src="/homes/src/assets/img/confianza-online.svg" class="mx-3" width="70" height="auto" alt="certificado confianza online">
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <p class="" style="font-size:0.8rem;">Copyright © 2020 - Artic Technologic, S.L.- Avda. Prat de la Riba, 77 – 08401 Granollers – CIF B65837676 - RM de Barcelona: tomo 43367, folio 45, hoja B426697, inscrip. 1</p>
            </div>
          </div>
        </footer>

        
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- Core theme JS-->
        <script src="/homes/src/js/scripts.js"></script>

         <!-- Initialize Swiper -->
         <script>
            var swiper = new Swiper('.swiper-container', {
                loop: 'false',
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 2,
                coverflowEffect: {
                    rotate: 0,
                    stretch: 50,
                    depth: 300,
                    modifier: 1,
                    slideShadows: false,
                },
                autoplay: {
                    delay: 1500,
                },
                keyboard: true,
                mousewheel: false,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        </script>
    </body>
</html>
