<!DOCTYPE html>
<html lang="es-ES">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ictiva">
    <meta name="robots" content="index, follow" />
    <meta name="language" content="es-ES" />

    <title>Posturas de yoga: Aprende a hacer multitud de Asanas - ictiva</title>

    <!-- Google Optimize -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NGZ6FLX':true});</script>
    <!-- End Google Optimze -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PRF3HL');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1726290627612934');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1726290627612934&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <meta name="verification" content="81bd71e1f26eb0b3898a5e427df1b4df" />
    <meta name="description" content="¿Quieres aprender a hacer las posturas de yoga? No lo dudes más, da el paso y aprende hoy gracias a nuestras videosesiones. ¡es muy fácil!" />
    <meta name="keywords" content="posturas de yoga, posturas yoga, posiciones de yoga, asanas, asanas yoga" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Posturas de yoga: Aprende a hacer multitud de Asanas" />
    <meta property="og:description" content="¿Quieres aprender a hacer las posturas de yoga? No lo dudes más, da el paso y aprende hoy gracias a nuestras videosesiones. ¡es muy fácil!" />
    <meta property="og:url" content="https://www.ictiva.com/posturas-de-yoga/" />
    <meta property="og:site_name" content="ictiva, tu gimnasio online" />
    <meta property="og:image" content="https://www.ictiva.com/img/logo_ictiva.svg" />

    <meta itemprop="datePublished" content="2018-10-23">

    <link rel=”canonical” href=”https://www.ictiva.com/posturas-de-yoga/” />

    <!--Icon, favicon & webapp -->
    <link rel="shortcut icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/homes/img/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/homes/img/favicon.ico" type="image/ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/homes/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/homes/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/homes/css/magnific-popup.min.css" rel="stylesheet">

    <link href="/homes/css/custom.min.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <!-- Temporary navbar container fix -->
    <style>
    .btn > a:hover{
        text-decoration: none!important;
    }
    .navbar-toggler {
        z-index: 1;
    }
    .border-bt-primary-1{
        border-bottom: 24px solid #e57532;
    }
    header.bg-landing{        
        background-image: url(/homes/img/img-landing/yoga_portada-movil.jpg);
        background-position: top center;
        background-size: cover;
        min-height: 90vh;
    }
    header.bg-landing:before{
        min-height: 90vh;
    }
    header.bg-landing>div{
        width: 80%;
        margin-left: 10%;
    }
    .video-section{
        margin-top: -10rem;
    }
    .line-height-2{
        line-height: 2.6rem;
        font-size: 1.2rem;
    }
    .pl-6{
        padding-left: 4.5rem;
    }    
    .pr-6{
        padding-right: 4.5rem;
    }
    .bg-primary-light {
      background: rgba(247,170,69,1) !important;
    }
    .bg-grey-2{
        background-color: #dfdfdb;
    }
    li.ls{
        list-style-type: none;
    }
    .widget-home{
        width: 345px;
    }
    .banner-primary{
        background-color: #e57532;
    }
    .banner-primary a:hover{
        color: #ffffff!important;
    }
    a.text-primary:hover{
        color: #e57532!important;
    }
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    @media (max-width: 767px){
        /*header.bg-landing{        
            background-image: url(/homes/img/img-landing/yoga_portada-movil.jpg);
            background-position: top center;
            background-size: cover;
            min-height: 90vh;
        }
        header.bg-landing:before{
            min-height: 90vh;
        }*/
    }
    @media (min-width: 1281px) {
        .text-medium{
            font-size: 1.25rem;
        }
    }
    @media (min-width: 1680px){
        .container {
            width: 1620px;
            max-width: 100%;
        }
        .extra-lg h1.display-4{
            font-size: 4rem;
            padding-bottom: 2.2rem!important;
        }
        .extra-lg p, .extra-lg a{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        .extra-lg h2{
            font-size: 2rem;
        }
        /*.extra-lg a.btn-scroll{
            font-size: 1.1rem;
        }*/
        .extra-lg li{
            font-size: 1.6rem;
        }
        .widget-home{
            width: 475px;
            margin-right: 3rem;
        }
        .widget-home p.px-4,.widget-home ul.pl-4{
            padding-left: 2.5rem!important;
        }
        .widget-home p.py-3{
            padding-top: 1.5rem!important;
            padding-bottom:  1.5rem!important;
        }
        .line-height-2{
            line-height: 4rem;
        }
        .btn-scroll .pt-2{
            padding-top: 6rem!important;
        }
        .btn-scroll a{
            font-size: 1.3rem;
        }
    }
    </style>

</head>

<body id="page-top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRF3HL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="cookies home d-none" id="cookie-message">
    <div id="cookie-close" class="close-message"><a href="javascript:;"></a></div>
    <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Puedes modificar esta opción en tu navegador, por tanto si continuas navegando sin modificarlo, consideramos que aceptas su uso. <a href="/politica-de-privacidad-y-cookies/" target="_blank">¿Quieres ver nuestra política de cookies?</a></p>
</div>

    <div id="menu-wrap" class="container-fluid bg-white fixed-top">
        <div class="row my-2">
            <nav class="navbar navbar-toggleable-md navbar-light col-8 bg-white">
                <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-bg-icon"></span>
                </button>
                <div class="container pl-lg-0">
                    <a class="navbar-brand ml-5 ml-lg-3" href="#page-top">
                        <img src="https://www.ictiva.com/img/logo_ictiva.svg" width="auto" height="auto" alt="ictiva-logo" class="img-fluid">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarExample">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link px-2 text-uppercase mt-3 mt-sm-0" href="/">Gimnasio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/salud">Salud</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/entrenador">Entrenador Virtual</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link" href="/nutricion">Nutrición</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase">
                                <a class="nav-link text-blue" href="http://www.ictivashop.com/">Shop</a>
                            </li>
                            <li class="nav-item px-2 text-uppercase hidden-lg-up">
                                <a class="nav-link text-primary" href="https://www.ictiva.com/tarifas/?utm_source=ictiva&utm_medium=btn&utm_campaign=menu-btn"><strong>TARIFAS</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-4 no-padding bg-white">
                <ul class="row justify-content-end mt-3 mt-sm-1 mb-0 mr-1 mr-md-2 p-0 h-100 align-items-start menu-mob">
                    <li class="bg-grey-2 py-0 px-1 px-sm-4 py-sm-2 p-xl-2">
                        <a class="text-dark btn" href="https://www.ictiva.com/tarifas/?home=salud"><strong>TARIFAS</strong></a>
                    </li>
                    <li class="bg-primary p-0 py-sm-2 p-xl-2 hidden-md-down">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/usuarios/alta/?home=salud">INICIA TU ENTRENAMIENTO</a>
                    </li>
                    <!-- <li class="bg-darkgrey p-0 py-sm-2 p-xl-2">
                        <a class="text-white btn text-uppercase" href="https://www.ictiva.com/usuarios/login/">Acceso Usuarios</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>


    <header class="bg-landing pt-4 mt-5 align-items-center section-header-video">
        <div class="container bg-video d-block d-sm-flex justify-content-center mt-5">
            <div class="row mb-0 mt-5 px-2 px-sm-4">
                <div class="col-12 col-lg-7 extra-lg py-3">
                    <h1 class="text-white text-uppercase display-4 pb-lg-3">POSTURAS DE YOGA</h1>
                    <p class="text-white h5 pb-lg-4">Ictiva te enseña las posiciones de yoga más comunes.</p>
                    <h2 class="text-primary text-uppercase text-bigger pb-lg-4 font-weight-bold">Asanas de yoga para mejorar tu salud</h2>
                    <p class="text-white text-medium mb-5">Regístrate en ictiva y empieza hoy mismo a cuidarte a través de las posturas de yoga y sus videosesiones.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a data-scroll href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
                <div class="col-12 col-md-5 py-3 extra-lg d-none d-md-block hidden-md-down">
                    <div class="widget-home float-right">
                        <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios:</p>
                        <ul class="bg-lightgrey m-auto py-3 pl-4">
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Alivia el dolor corporal</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Ayuda a relajarse y meditar</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Hace que nos concentremos más</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Aumenta la flexibilidad</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Reduce el dolor de espalda</li>
                            <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Fortalece el sistema inmunológico</li>
                            <li class="line-height-2 ls mb-4"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora la respiración y el equilibrio</li>
                        </ul>                
                    </div>
                </div>
                <div class="col-12 btn-scroll pt-2 text-center d-none d-sm-block">
                    <p class="py-4 btn"><a data-scroll href="#pagetwo" class="text-uppercase text-white text-center m-0 py-4">Descubre la sala<br><i class="fas fa-chevron-down text-white mt-2"></a></i></p>
                </div>
            </div>
        </div>
        <!-- <video autoplay loop muted class="w-100 hidden-sm-down" poster="/img/slide-home/video-main-placeholder.png">
            <source src="https://www.ictiva.com/homes/video/yoga_video.mp4" type="video/mp4">
            <source src="https://www.ictiva.com/homes/video/yoga_video.webm" type="video/webm">
            <embed src="https://www.ictiva.com/homes/video/yoga_video.mp4" type="application/x-shockwave-flash" width="100%" height="570" allowscriptaccess="always" allowfullscreen="true" autoplay="true" showcontrols="0">
        </video> -->
    </header>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 py-3 px-3 extra-lg d-md-none hidden-sm-up">
                <p class="bg-darkgrey text-white text-uppercase font-weight-bold h4 m-0 py-3 px-4">Beneficios:</p>
                <ul class="bg-lightgrey m-auto py-3 pl-4">
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Alivia el dolor corporal</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Ayuda a relajarse y meditar</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Hace que nos concentremos más</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Aumenta la flexibilidad</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Reduce el dolor de espalda</li>
                    <li class="line-height-2 ls"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Fortalece el sistema inmunológico</li>
                    <li class="line-height-2 ls mb-4"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Mejora la respiración y el equilibrio</li>
                </ul>
                <!-- <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/tarifas/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p> -->
            </div>
        </div>
    </section>
    <section class="no-padding bg-faded">
        <div class="container py-0">
            <div class="row px-5 py-4">
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/localizacion_icon.png" class="sr-icons mb-3" alt="Donde quieras" height="80px" width="auto">
                        <h4 class="h4">DONDE QUIERAS</h3>
                        <!-- <p class="text-muted">Acceso ilimitado donde quieras y a la hora que quieras.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/reloj_icon.png" class="sr-icons mb-3" alt="Cuando quieras" height="80px" width="auto">
                        <h4 class="h4">CUANDO QUIERAS</h3>
                        <!-- <p class="text-muted">Clases dirigidas con ejercicios de 21 disciplinas diferentes.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/play_icon.png" class="sr-icons mb-3" alt="Las veces que quieras" height="80px" width="auto">
                        <h4 class="h4">LAS VECES QUE QUIERAS</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <div class="mt-3">
                        <img src="/homes/img/img-landing/iconos/infinito_icon.png" class="sr-icons mb-3" alt="acceso ilimitado" height="80px" width="auto">
                        <h4 class="h4">ACCESO ILIMITADO</h3>
                        <!-- <p class="text-muted">5 niveles de dificultad para adaptarse a tu forma física.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pagetwo" class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">
                    <iframe src="https://player.vimeo.com/video/266283862?color=fcbe17&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">ATRÉVETE A PROBAR A HACER ASANAS EN CASA, CON ICTIVA ES MUY FÁCIL</h2>
                    <ul class="pr-3 pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Si hace tiempo que quieres aprender a hacer posturas de yoga o asanas pero no te decides a dar el paso, estás en el lugar ideal, ya que el gimnasio online ictiva te proporciona videosesiones online que las puedes hacer en casa, en un descanso en el trabajo, en un parque, o donde tú quieras, ya que si descargas nuestra aplicación tus cursos irán contigo en el móvil.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Estas clases son ideales por varios motivos ya que te permiten ahorrar tiempo y dinero, y para aquellos que les da vergüenza ir al gimnasio las pueden hacer en casa sin problema. Lo que también es ideal si tienes niños, ya que los puedes vigilar a la vez que te pones en forma y si quieres puedes animarlos a que hagan los vídeos contigo.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Otra razón por la que son ideales para todo el mundo es que tenemos vídeos para todos los niveles, desde principiantes hasta pro, por lo que los que tengan un nivel más avanzado también encontrarán clases que sabrán desafiar sus habilidades.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Teniéndolo todo en un mismo lugar, y con un acceso tan fácil, ¿a qué espera para empezar? Solo tiene que dar al play y hacer los ejercicios.</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/yoga-7.jpg" class="img-fluid" alt="Posturas de Yoga"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">APRENDE A HACER LAS POSICIONES DE <a href="https://www.ictiva.com/ejercicios-yoga/" target="_blank" class="text-primary">YOGA</a> O ASANAS BÁSICAS</h2>
                    <ul class="pl-0">
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Para darte un poco más de ganas de empezar las clases hoy mismo, vamos a contarte cómo hacer un par de asanas básicas.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>El saludo al sol, por ejemplo, empieza de pie con los pies juntos y llevando las manos a la altura del pecho, después bajaremos poniendo las manos al suelo, pondremos un pie atrás y después el otro. Después apoyaremos las rodillas al suelo y bajaremos el pecho al suelo y luego volveremos a subir, hasta quedar con los pies y las manos apoyados al suelo y el culo hacia arriba. Volveremos a la posición inicial llevando primero una pierna al lado de las manos y después otra. A continuación, subimos las manos por encima de la cabeza y las inclinamos hacia atrás, y habremos acabado.</li>
                        <li class="mb-3 ls text-medium"><i class="fas fa-dot-circle fa-sm text-primary mr-3"></i>Otra de ellas para relajarse y meditar es el Pranayama, consiste en sentarse sobre una esterilla con las piernas cruzadas y los ojos cerrados, cuando estemos cómodos, respiraremos profundamente para relajarnos y dejar la mente en blanco, cuando todo nuestro cuerpo esté relajado, seguiremos respirando lentamente durante un minuto. Pasado este minuto, el ejercicio habrá acabado. Esta es una de las posturas yoga más usadas para empezar y/o acabar las sesiones.</li>
                    </ul>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-yoga/yoga-profesora.jpg" class="img-fluid" alt="Monitora de yoga online"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">CONOCE LA PROFESORA QUE TE GUIARÁ DURANTE TODAS LAS <a href="https://www.ictiva.com/clases-yoga/" target="_blank" class="text-primary">CLASES DE YOGA ONLINE</a></h2>
                    <p class="mb-3 ls text-medium">Rosa Mº Madrid es la monitora que se encargará de dirigir las clases y de enseñaros cómo hacer las asanas. Es una gran profesional que cuenta con varios años de experiencia trabajando como profesora en varios centros oficiales de esta disciplina.</p>
                    <p class="mb-3 ls text-medium">Gracias a toda esta experiencia te explicará de forma muy detallada cómo hacer las posturas yoga y sentirás que estás en un curso presencial, además de sentirte acompañado en todo momento, tengas el nivel que tengas.</p>
                    <p class="mb-3 ls text-medium">Esto ha ayudado a mucha gente y les ha dado confianza, porque un profesional, como Rosa, con experiencia y que sepa enseñar de forma cercana, es lo que marca la diferencia.</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-left no-padding embed-responsive embed-responsive-16by9 bg-grey-2">
                <iframe frameborder="0" height="360" src="https://player.vimeo.com/video/176716908?color=fcbe17&title=0&byline=0&portrait=0" width="480"></iframe>
            </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">REALIZA TUS POSTURAS DE YOGA O ASANAS DESCARGANDO LA APLICACIÓN DE ICTIVA</h2>
                    <p class="mb-3 ls text-medium">Como hemos dicho antes, puedes descargarte nuestra <a href="https://play.google.com/store/apps/details?id=ictiva.carbonbyte.com.ictiva" target="_blank" class="text-primary">APP para poder hacer las asanas de yoga</a> dónde y cuándo quieras. ¿Cómo? es muy fácil, en Apple Store si tiene iOS o en Google Play si tiene Android, es totalmente gratis.</p>
                    <p class="mb-3 ls text-medium">Nada más descargarla podrás ver más de 50 vídeos gratis, no solo los de las posiciones de yoga, sino de las más de 21 disciplinas que cuenta nuestro gimnasio. Estos vídeos los podrás ver tantas veces como quieras.</p>
                    <p class="mb-3 ls text-medium">Si te abonas podrás ver más de 800 videosesiones diferentes de nuestras disciplinas, o que te permitirá tener acceso a un plan de entrenamiento completo.</p>
                    <p class="mb-3 ls text-medium">No solo podrás entrenar, sino que además podrás hacer un seguimiento de tu evolución gracias a los gráficos y estadísticas sobre tu IMC, tu peso, las calorías que has quemado y los vídeos que has visto, es como tener un entrenador personal contigo las 24 horas del día que te ayuda con todo lo que necesitas, ¿a qué es genial? Pues no esperes más y descárgala hoy mismo.</p>
                    <p class="mt-4 py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/dietas/verduras.jpg" class="img-fluid" alt="La dieta tu mejor complemento"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">LA DIETA SERÁ TU MEJOR COMPLEMENTO</h2>
                    <p class="mb-3 ls text-medium">Para que el ejercicio que hagas haciendo las diferentes posiciones de yoga sea 100% efectivo recomendamos acompañarlo de una buena dieta. Pero no una dieta que te haga pasar hambre, no, sino una dieta completa, de 5 raciones al día y que sea en función de lo que necesitas, que sea equilibrada y completa.</p>
                    <p class="mb-3 ls text-medium">Para que todo el mundo tenga acceso a una dieta acorde a todo esto hemos creado un apartado específico en nuestra página web para que podáis elaborar platos sanos y sabrosos en casa en pocos minutos, no hace falta que seáis un chef para poder elaborarlos, con los pasos a seguir que os indicamos todo el mundo podrá prepararlos.</p>
                    <p class="mb-3 ls text-medium">Si alguno de los platos no te gustan o no los puedes comer por alergia o intolerancia, no pasa nada, lo puedes sustituir por oro que te proponemos. Además, en cada receta veréis el valor nutricional que tiene cada plato para que lo tengáis en cuenta.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding mb-5">
        <div class="container-fluid">
            <div class="row d-flex flex-row-reverse no-padding">
                <div class="col-12 col-md-5 text-right no-padding bg-grey-2 d-flex align-items-center">
                    <div><img src="/homes/img/img-landing/yoga-8.jpg" class="img-fluid" alt="Ejercicios de Yoga"></div>
                </div>
                <div class="col-12 col-md-7 my-3 px-3 px-md-5">
                    <h2 class="mb-5 pt-2 text-center text-md-left text-primary">RECOMENDACIONES A TENER EN CUENTA ANTES DE HACER LAS POSTURAS DE YOGA</h2>
                    <p class="mb-3 ls text-medium">Antes de empezar a hacer los ejercicios recomendamos que hagáis una visita al médico para que os haga una revisión general y se asegure de que todo va bien y os confirme que podéis hacer deporte.</p>
                    <p class="mb-3 ls text-medium">Os recordamos que hay que seguir las instrucciones que os da la profesora en los vídeos al pie de la letra, así evitaréis lesiones, ya que sois vosotros mismo los responsables de seguir sus instrucciones.</p>
                    <p class="mb-3 ls text-medium">Además, el número de calorías que vais a quemar es indicativo, ya que depende de varios factores. Ictiva no se hace responsable del mal uso de sus plataformas y no garantiza los resultados.</p>
                    <p class="mb-3 ls text-medium">Si ponéis en práctica todos estos consejos y usáis correctamente nuestra página web, podréis aprovecharla al máximo y maximizar los beneficios.</p>
                    <p class="py-4 btn bg-primary rounded-0"><a href="https://www.ictiva.com/usuarios/alta/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">INICIA TU ENTRENAMIENTO</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="no-padding">
        <div class="container-fluid banner-primary">
            <div class="row py-3 text-white">
                <div class="col-lg-12 text-center">
                    <p class="text-bigger p-3"><a href="https://www.ictiva.com/tarifas/?home=salud" class="text-uppercase text-white text-center m-0 py-4 px-4 h5">Quiero entrenar gratis</a></p>
                </div>
            </div>
        </div>
    </section> -->


    <section class="text-white bg-dark p-5 footer-list">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-12 col-sm-4 col-md-2 p-0">
                    <h5 class="text-uppercase font-weight-bold">Acerca de</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/gimnasia-en-casa/">¿Qué es ictiva?</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Servicios</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nuestro-equipo/">Nuestro equipo</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tarifas/">Tarifas</a></li>
                    </ul>
                </div>        
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Ayuda</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/faq/">FAQ</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/requisitos-tecnicos/">Requesitos Técnicos</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/blog/">Blog</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/contacto-gym/">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md-2 p-0 mt-4 mt-sm-0">
                    <h5 class="text-uppercase font-weight-bold">Compañía</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/programa-afiliacion/">Programa de afiliación</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/publicidad/">Publicidad</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.descuentoestudiante.com/ictiva-descuento-estudiante-iframe" target="_blank">Descuento estudiantes</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://wellwo.es/" target="_blank">Empresa Saludable</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Legal</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/nota-legal/">Nota legal</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-uso/">Condiciones de uso</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/condiciones-de-compra/">Condiciones de compra</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/politica-de-privacidad-y-cookies/">Politica de privacidad y cookies</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2 p-0 mt-4 mt-md-0">
                    <h5 class="text-uppercase font-weight-bold">Social Media</h5>
                    <hr>
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.facebook.com/ictivatugimnasioencasa/" target="_blank">Facebook</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://twitter.com/ictiva" target="_blank">Twitter</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.youtube.com/user/ictiva" target="_blank">YouTube</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.instagram.com/ictiva/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>

            
        </div>
    </section>
    <section class="no-padding footer-list bg-footer2">
        <div class="container-fluid px-5 pt-5 pb-0">
            <div class="row">
                <div class="col-12 col-lg-7 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold">Salas de ejercicio</h5>
                    <hr style="border-color:#333333;">
                    <div class="container-fluid pl-0 pr-5">
                        <div class="row">
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-aerobic/">Aerobic</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-yoga/">Yoga</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-pilates/">Pilates</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-hipopresivos/">Hipopresivos</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-abdominales/">Abdominales</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tbc/">TBC</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">                            
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/cuerpo-perfecto/">Cuerpo Perfecto</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-fitness/">Fitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/hiit/">Hiit</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/entrenamiento-boxeo/">Boxeo</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/combat/">Combat</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-steps/">Steps</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/fitness-girl">Fitness Girl</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-de-crossfit/">CrossFitness</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tabata">Tabata</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tds">Trainer Door System</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dance/">Dance</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-gimnasia-mayores/">Gimnasia para Mayores</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-3">
                                <ul class="pl-0">
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ciclo-indoor/">Ciclo In</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/danza-vientre/">Danza del Vientre</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/ejercicios-espalda/">Espalda Sana</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/estiramientos-y-relajacion/">Estiramientos y Relajación</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="#">Mamás, Bebés y Niños</a></li>
                                    <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/workout-ejercicios/">Workout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Planes de Entrenamiento</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/radical-change">Radical Change</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/lose-weight">Lose Weight</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/tone-up">Tone Up</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/six-pack">Six Pack</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/wellness/">Wellness</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 px-0 pt-0 pb-5">
                    <h5 class="text-uppercase font-weight-bold font-weight-bold mt-3 mt-md-0">Dietas</h5>
                    <hr style="border-color:#333333;">
                    <ul class="pl-0">
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-equilibrada/">Dieta Equilibrada</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dietas-para-adelgazar/">Dieta para Adelgazar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-vientre-plano/">Dieta Vientre Plano</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-ganar-masa-muscular/">Dieta para Muscular</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-tonificar/">Dieta para Tonificar</a></li>
                        <li class="footer-list-item" style="font-size:0.9rem;line-height:1.7rem;"><a href="https://www.ictiva.com/dieta-para-perder-barriga/">Dieta para abdominales</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row text-center py-4">
            <div class="col">
                <img src="/homes/img/logos-footer/CERTIFICADO_ENISA-web70.jpg" class="img-fluid sr-icons enisa-icon" width="auto" alt="certificado enisa">
                <img src="/homes/img/logos-footer/confianza-online.svg" class="img-fluid sr-icons ml-4" width="70" alt="certificado confianza online">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row text-center py-1">
            <div class="col">
                <p class="lead" style="font-size:0.8rem;">© Artic Technologic, S.L.- Avda. Prat de la Riba, 77 – 08401 Granollers – CIF B65837676 - RM de Barcelona: tomo 43367, folio 45, hoja B426697, inscrip. 1</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/homes/vendor/jquery/jquery.min.js"></script>
    <script src="/homes/vendor/tether/tether.min.js"></script>
    <script src="/homes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/homes/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/homes/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/homes/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    
    <!-- Fontawesome Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    <script src="/homes/js/creative.min.js"></script>

    <script src="/homes/js/tutorial.min.js"></script>

    <script> 
     $('.navbar-nav>li>a').on('click', function(){
       $('.navbar-collapse').collapse('hide');
     });
   </script>

     <!--typo-->    
    <script src="https://use.typekit.net/wjv2qsz.js"></script>
    <script>
        // <![CDATA[
        try{Typekit.load({ async: true });}catch(e){}
        // ]]>
    </script>

    <script>
        //<![CDATA[
          var _comscore = _comscore || [];
          _comscore.push({ c1: "2", c2: "8731705" });
          (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
          })();
        //]]>
    </script>
    <noscript>
        <img src="//b.scorecardresearch.com/p?c1=2&amp;c2=8731705&amp;cv=2.0&amp;cj=1">
    </noscript>
    <script src="https://www.ictiva.com/js/js.cookie.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var cookie_name = 'ictiva-cookies';
            var Cookies2 = Cookies.noConflict();

            if (typeof Cookies2.get(cookie_name) != 'undefined') {
                $('#cookie-message').hide();
            }

            $('#cookie-close').click(function() {
                Cookies2.set(cookie_name, 'cookie', { expires: 365, path: '/' });
                $('#cookie-message').hide();
            });
        });
    </script>
    <!-- Scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/11.1.0/js/smooth-scroll.min.js"></script>
    <script>
      smoothScroll.init({
      selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
      selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
      speed: 1500, // Integer. How fast to complete the scroll in milliseconds
      offset: 90, // Integer. How far to offset the scrolling anchor location in pixels
      easing: 'easeInOutQuad', // Easing pattern to use
      callback: function ( anchor, toggle ) {} // Function to run after scrolling
      });
    </script>

</body>

</html>